.authContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:  center;
    align-items: center;
}

.autenticationContainer {
    background-color: azure;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);
    width: 400px;
    height: 295px;
}

.containerNavigations {
    display: flex;
    width: 100%;
    border-top-right-radius: 5px;
}

.authTap {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.tapActive {
    background-color: royalblue;
    color: white;
    background: rgb(168,150,255);
    background: linear-gradient(90deg, rgba(168,150,255,1) 0%, rgba(153,130,255,1) 16%, rgba(139,112,254,1) 36%, rgba(99,62,255,1) 55%, rgba(77,37,255,1) 77%, rgba(43,0,224,1) 96%);
}

.containerFrom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 100%;
}

.buttonSend {
    width: 100%;
    margin: 5px 0;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
    background: rgb(168,150,255);
    background: linear-gradient(90deg, rgba(168,150,255,1) 0%, rgba(153,130,255,1) 16%, rgba(139,112,254,1) 36%, rgba(99,62,255,1) 55%, rgba(77,37,255,1) 77%, rgba(43,0,224,1) 96%);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.fromSend {
    width: 100%;
}

.formGroup {
    margin: 10px 0;
}

.formControl {
    border: 1px solid rgb(150, 146, 146);
    padding: 10px;
    border-radius: 3px;
    width: 100%;

}